body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    justify-content: space-around;
    width: 13%;
    margin-left: auto;
    margin-top: 11px;
    padding: 1em;
}

nav a {
    color: #000000;
    text-decoration: none;
    font-size: 13px;
}

nav a:hover {
    text-decoration: underline;
}

nav img {
    height: 20px;
}

main{
    width: 50%;
    margin: 2.5em auto;
    text-align: center;
}

main img {
    padding: 1.6em;
}

input {
    width: 80%;
    padding: 1em;
    border-radius: 22px;
    border: 1px solid #c0b5b5;
    outline: none;
}

.btns_holder {
    margin-top: 1em;
    color: #222222;
}

.btns_holder button{
    color: #222222;
    padding: 1em;
    border: none;
    font-size: 14px;
    background-color: #f8f9fa;
}

.languages {
    color: #222222;
}

.lng_sub {
    color: #1a0dab;
}

footer {
    background-color: #f8f9fa;
    color: #0000008a;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    font-size: 14px;
    
}

.top_footer{
    padding: 1em;
    color: #70757a;
}

.bottom_footer {
    padding: 1em;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #c0b5b5;
}

.bottom_footer a {
    color: #70757a;
    text-decoration: none;
}

.left a{
    margin-right: 1em;
}

.right a{
    margin-right: 1em;
}

#carbon img {
    width: 12px;
    height: 14px;
}